<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Petition</title>
    <link rel="stylesheet" href="/style.css">
</head>

<header>
</header>





<body>

    {{{body}}}
    <!-- place were our templates are gonna be injected -->

    <footer>

        <p>&copy; 2019 Spiced Education<p>

    </footer>

</body>

</html>
