<div class="box">
    <div class="firstbox">
        <img class = "yogapic" src="https://freedesignfile.com/upload/2018/03/Yoga-silhouette-with-sunset-background-vector-07.jpg">


    </div>
    <div class="petitionform">
        <form action="/login" method="POST">
            <h3>Please login</h3>
            <input type="text" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="Password.." required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            {{#if error}}
                <p class= "passerror">{{error}}</p>
            {{/if}}
            <button type="submit">Submit</button>
        </form>
    </div>
</div>
