
<canvas id="canvas" width="300" height="100"></canvas>

<form>
<input type="text" name="" value="">
<input type="text" name="" value="">
<input class= "sign" type="" name="" value="">
</form>

    <button>
        <a href="/{{views}}">Submit</a>
    </button>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="script.js" type="text/javascript" >
</script>
