
<div class="box">
    <div class="welcome">
        <h1> Welcome to the Petition Project!</br></br>Are you ready to make a change?</br></br>Sign for Yoga sessions at SPICED</h1>

    </div>

    <div class="petitionform">
        <form action="/register" method="POST">
            <h3>Please Register</h3>
            <input type="text" name="first" placeholder="First name" required>
            <input type="text" name="last" placeholder="Last name" required>
            <input type="text" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="Password.." required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Submit</button>
            <h3>Or</h3>
            <button type="submit"><a href="/login">login</a></button>
            <div>
                {{#if error}}
                <p class="registererror">{{error}}</p>
                {{/if}}
            </div>
        </form>
    </div>

</div>
