
<div class="box">
    <div class="welcome">

            <h1>Sign up for Yoga session at SPICED!</h1>
            <h3>Yoga benefites for coders:</h3>
            <ol class="yogabenefites">
                <li>Focus improvement</li>
                <li>Mood boost</li>
                <li>Productivity lift</li>
                <li>Reduce pains associated with long hours sitting</li>
            <ol>
                <div class="frase">
                <h3> A better mind and body...for better coding!!</h3>
                </div>


    </div>

    <div class="petitionform">
        <form action="/register" method="POST">
            <h3>Please Register</h3>
            <input type="text" name="first" placeholder="First name" required>
            <input type="text" name="last" placeholder="Last name" required>
            <input type="text" name="email" placeholder="email" required>
            <input type="password" name="password" placeholder="Password.." required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button type="submit">Submit</button>
            <h3>Or</h3>
            <button type="submit"><a href="/login">login</a></button>
            <div>
                {{#if error}}
                <p class="registererror">{{error}}</p>
                {{/if}}
            </div>
        </form>
    </div>

</div>
