<div class ="signed">
<div class="thankyou">
<h1>Thank you {{name}}  {{lastname}} for signing this petition!!</h1>
</div>
<div class="image">
<img src="{{image}}">
</div>


<div class="signers">
<a href="/signers">See all {{count}} signers</a>
</div>
</div>
